<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soa.restservice.dao.BillDetailInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.soa.restservice.entity.BillDetailInfo">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="BILL_NUMBER" jdbcType="VARCHAR"
			property="billNumber" />
		<result column="TRADE_NAME" jdbcType="VARCHAR"
			property="tradeName" />
		<result column="SPECIFICATIONS_AND_MODEL" jdbcType="VARCHAR"
			property="specificationsAndModel" />
		<result column="UNIT" jdbcType="VARCHAR" property="unit" />
		<result column="QUANTITY" jdbcType="DECIMAL"
			property="quantity" />
		<result column="PRICE_EXCLUDING_TAX" jdbcType="DECIMAL"
			property="priceExcludingTax" />
		<result column="PRICE_INCLUDING_TAX" jdbcType="DECIMAL"
			property="priceIncludingTax" />
		<result column="SUM_EXCLUDING_TAX" jdbcType="DECIMAL"
			property="sumExcludingTax" />
		<result column="SUM_INCLUDING_TAX" jdbcType="DECIMAL"
			property="sumIncludingTax" />
		<result column="TAX_RATE" jdbcType="DECIMAL" property="taxRate" />
		<result column="DISCOUNT" jdbcType="DECIMAL"
			property="discount" />
		<result column="TAX" jdbcType="DECIMAL" property="tax" />
		<result column="SERIAL_NUMBER" jdbcType="DECIMAL"
			property="serialNumber" />
		<result column="TAX_CLASS_CODE" jdbcType="VARCHAR"
			property="taxClassCode" />
		<result column="STANDBY1" jdbcType="VARCHAR"
			property="standby1" />
		<result column="STANDBY2" jdbcType="VARCHAR"
			property="standby2" />
		<result column="STANDBY3" jdbcType="VARCHAR"
			property="standby3" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, BILL_NUMBER, TRADE_NAME, SPECIFICATIONS_AND_MODEL, UNIT, QUANTITY,
		PRICE_EXCLUDING_TAX,
		PRICE_INCLUDING_TAX, SUM_EXCLUDING_TAX, SUM_INCLUDING_TAX, TAX_RATE, DISCOUNT, TAX,
		SERIAL_NUMBER, TAX_CLASS_CODE, STANDBY1, STANDBY2, STANDBY3
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BILL_DETAIL_INFO
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 根据条件查询发票明细表数据 -->
	<select id="selectByCondition"
		parameterType="com.soa.restservice.entity.QueryCondition"
		resultMap="BaseResultMap">

		<if
			test="page !=null and page != '' and pageSize != null and pageSize != ''">
			select
			ID, BILL_NUMBER, BILL_DATE,
			BUYER_NAME,
			BUYER_DUTY_PARAGRAPH, BUYER_ADDR_PHONE,
			BUYER_BANK_ACCOUNT,
			TOTAL_AMOUNT, OPERATOR, REMARKS, RE_BILL_NUMBER,
			PRINT_REMARK,
			DISTINCTION, STATE,
			STANDBY1, STANDBY2, STANDBY3
			from(
		</if>
		select
		<include refid="Base_Column_List" />
		,rownum rn
		from
		BILL_DETAIL_INFO
		<where>
			<if test="billNumber != null and billNumber != '' ">
				and BILL_NUMBER = #{billNumber,jdbcType=VARCHAR}
			</if>
		</where>
		<if
			test="page !=null and page != '' and pageSize != null and pageSize != ''">
			)
		</if>
		<where>
			<if
				test="page !=null and page != '' and pageSize != null and pageSize != ''">
				rn &lt;= (select ((#{page}-1)*#{pageSize}+#{pageSize}) from
				dual)
				and
				rn &gt;= (select ((#{page}-1)*#{pageSize}+1) from dual)
			</if>
		</where>
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from BILL_DETAIL_INFO
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.soa.restservice.entity.BillDetailInfo">
		insert into BILL_DETAIL_INFO (ID, BILL_NUMBER, TRADE_NAME,
		SPECIFICATIONS_AND_MODEL, UNIT, QUANTITY,
		PRICE_EXCLUDING_TAX, PRICE_INCLUDING_TAX, SUM_EXCLUDING_TAX,
		SUM_INCLUDING_TAX, TAX_RATE, DISCOUNT,
		TAX, SERIAL_NUMBER, TAX_CLASS_CODE,
		STANDBY1, STANDBY2, STANDBY3
		)
		values (#{id,jdbcType=VARCHAR}, #{billNumber,jdbcType=VARCHAR},
		#{tradeName,jdbcType=VARCHAR},
		#{specificationsAndModel,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR},
		#{quantity,jdbcType=DECIMAL},
		#{priceExcludingTax,jdbcType=DECIMAL}, #{priceIncludingTax,jdbcType=DECIMAL},
		#{sumExcludingTax,jdbcType=DECIMAL},
		#{sumIncludingTax,jdbcType=DECIMAL}, #{taxRate,jdbcType=DECIMAL},
		#{discount,jdbcType=DECIMAL},
		#{tax,jdbcType=DECIMAL}, #{serialNumber,jdbcType=DECIMAL}, #{taxClassCode,jdbcType=VARCHAR},
		#{standby1,jdbcType=VARCHAR}, #{standby2,jdbcType=VARCHAR},
		#{standby3,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.soa.restservice.entity.BillDetailInfo">
		insert into BILL_DETAIL_INFO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="billNumber != null">
				BILL_NUMBER,
			</if>
			<if test="tradeName != null">
				TRADE_NAME,
			</if>
			<if test="specificationsAndModel != null">
				SPECIFICATIONS_AND_MODEL,
			</if>
			<if test="unit != null">
				UNIT,
			</if>
			<if test="quantity != null">
				QUANTITY,
			</if>
			<if test="priceExcludingTax != null">
				PRICE_EXCLUDING_TAX,
			</if>
			<if test="priceIncludingTax != null">
				PRICE_INCLUDING_TAX,
			</if>
			<if test="sumExcludingTax != null">
				SUM_EXCLUDING_TAX,
			</if>
			<if test="sumIncludingTax != null">
				SUM_INCLUDING_TAX,
			</if>
			<if test="taxRate != null">
				TAX_RATE,
			</if>
			<if test="discount != null">
				DISCOUNT,
			</if>
			<if test="tax != null">
				TAX,
			</if>
			<if test="serialNumber != null">
				SERIAL_NUMBER,
			</if>
			<if test="taxClassCode != null">
				TAX_CLASS_CODE,
			</if>
			<if test="standby1 != null">
				STANDBY1,
			</if>
			<if test="standby2 != null">
				STANDBY2,
			</if>
			<if test="standby3 != null">
				STANDBY3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="billNumber != null">
				#{billNumber,jdbcType=VARCHAR},
			</if>
			<if test="tradeName != null">
				#{tradeName,jdbcType=VARCHAR},
			</if>
			<if test="specificationsAndModel != null">
				#{specificationsAndModel,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=DECIMAL},
			</if>
			<if test="priceExcludingTax != null">
				#{priceExcludingTax,jdbcType=DECIMAL},
			</if>
			<if test="priceIncludingTax != null">
				#{priceIncludingTax,jdbcType=DECIMAL},
			</if>
			<if test="sumExcludingTax != null">
				#{sumExcludingTax,jdbcType=DECIMAL},
			</if>
			<if test="sumIncludingTax != null">
				#{sumIncludingTax,jdbcType=DECIMAL},
			</if>
			<if test="taxRate != null">
				#{taxRate,jdbcType=DECIMAL},
			</if>
			<if test="discount != null">
				#{discount,jdbcType=DECIMAL},
			</if>
			<if test="tax != null">
				#{tax,jdbcType=DECIMAL},
			</if>
			<if test="serialNumber != null">
				#{serialNumber,jdbcType=DECIMAL},
			</if>
			<if test="taxClassCode != null">
				#{taxClassCode,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				#{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				#{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				#{standby3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.soa.restservice.entity.BillDetailInfo">
		update BILL_DETAIL_INFO
		<set>
			<if test="billNumber != null">
				BILL_NUMBER = #{billNumber,jdbcType=VARCHAR},
			</if>
			<if test="tradeName != null">
				TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
			</if>
			<if test="specificationsAndModel != null">
				SPECIFICATIONS_AND_MODEL = #{specificationsAndModel,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				UNIT = #{unit,jdbcType=VARCHAR},
			</if>
			<if test="quantity != null">
				QUANTITY = #{quantity,jdbcType=DECIMAL},
			</if>
			<if test="priceExcludingTax != null">
				PRICE_EXCLUDING_TAX = #{priceExcludingTax,jdbcType=DECIMAL},
			</if>
			<if test="priceIncludingTax != null">
				PRICE_INCLUDING_TAX = #{priceIncludingTax,jdbcType=DECIMAL},
			</if>
			<if test="sumExcludingTax != null">
				SUM_EXCLUDING_TAX = #{sumExcludingTax,jdbcType=DECIMAL},
			</if>
			<if test="sumIncludingTax != null">
				SUM_INCLUDING_TAX = #{sumIncludingTax,jdbcType=DECIMAL},
			</if>
			<if test="taxRate != null">
				TAX_RATE = #{taxRate,jdbcType=DECIMAL},
			</if>
			<if test="discount != null">
				DISCOUNT = #{discount,jdbcType=DECIMAL},
			</if>
			<if test="tax != null">
				TAX = #{tax,jdbcType=DECIMAL},
			</if>
			<if test="serialNumber != null">
				SERIAL_NUMBER = #{serialNumber,jdbcType=DECIMAL},
			</if>
			<if test="taxClassCode != null">
				TAX_CLASS_CODE = #{taxClassCode,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				STANDBY1 = #{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				STANDBY2 = #{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				STANDBY3 = #{standby3,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.soa.restservice.entity.BillDetailInfo">
		update BILL_DETAIL_INFO
		set BILL_NUMBER = #{billNumber,jdbcType=VARCHAR},
		TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
		SPECIFICATIONS_AND_MODEL = #{specificationsAndModel,jdbcType=VARCHAR},
		UNIT = #{unit,jdbcType=VARCHAR},
		QUANTITY = #{quantity,jdbcType=DECIMAL},
		PRICE_EXCLUDING_TAX = #{priceExcludingTax,jdbcType=DECIMAL},
		PRICE_INCLUDING_TAX = #{priceIncludingTax,jdbcType=DECIMAL},
		SUM_EXCLUDING_TAX = #{sumExcludingTax,jdbcType=DECIMAL},
		SUM_INCLUDING_TAX = #{sumIncludingTax,jdbcType=DECIMAL},
		TAX_RATE = #{taxRate,jdbcType=DECIMAL},
		DISCOUNT = #{discount,jdbcType=DECIMAL},
		TAX = #{tax,jdbcType=DECIMAL},
		SERIAL_NUMBER = #{serialNumber,jdbcType=DECIMAL},
		TAX_CLASS_CODE = #{taxClassCode,jdbcType=VARCHAR},
		STANDBY1 = #{standby1,jdbcType=VARCHAR},
		STANDBY2 = #{standby2,jdbcType=VARCHAR},
		STANDBY3 = #{standby3,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>