<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soa.restservice.dao.BillMainInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.soa.restservice.entity.BillMainInfo">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="BILL_NUMBER" jdbcType="VARCHAR"
			property="billNumber" />
		<result column="BILL_DATE" jdbcType="TIMESTAMP"
			property="billDate" />
		<result column="BUYER_NAME" jdbcType="VARCHAR"
			property="buyerName" />
		<result column="BUYER_DUTY_PARAGRAPH" jdbcType="VARCHAR"
			property="buyerDutyParagraph" />
		<result column="BUYER_ADDR_PHONE" jdbcType="VARCHAR"
			property="buyerAddrPhone" />
		<result column="BUYER_BANK_ACCOUNT" jdbcType="VARCHAR"
			property="buyerBankAccount" />
		<result column="TOTAL_AMOUNT" jdbcType="DECIMAL"
			property="totalAmount" />
		<result column="OPERATOR" jdbcType="VARCHAR"
			property="operator" />
		<result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
		<result column="RE_BILL_NUMBER" jdbcType="VARCHAR"
			property="reBillNumber" />
		<result column="PRINT_REMARK" jdbcType="VARCHAR"
			property="printRemark" />
		<result column="DISTINCTION" jdbcType="VARCHAR"
			property="distinction" />
		<result column="STATE" jdbcType="VARCHAR" property="state" />
		<result column="STANDBY1" jdbcType="VARCHAR"
			property="standby1" />
		<result column="STANDBY2" jdbcType="VARCHAR"
			property="standby2" />
		<result column="STANDBY3" jdbcType="VARCHAR"
			property="standby3" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, BILL_NUMBER, TO_CHAR(BILL_DATE,'yyyy-mm-dd') AS
		BILL_DATE,
		BUYER_NAME, BUYER_DUTY_PARAGRAPH, BUYER_ADDR_PHONE,
		BUYER_BANK_ACCOUNT,
		TOTAL_AMOUNT, OPERATOR, REMARKS, RE_BILL_NUMBER,
		PRINT_REMARK, DISTINCTION, STATE,
		STANDBY1, STANDBY2, STANDBY3
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BILL_MAIN_INFO
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 根据条件查询 -->
	<select id="selectByCondition"
		parameterType="com.soa.restservice.entity.QueryCondition"
		resultMap="BaseResultMap">
		<if
			test="page !=null and page != '' and pageSize != null and pageSize != ''">
			select
			ID, BILL_NUMBER, BILL_DATE,
			BUYER_NAME,
			BUYER_DUTY_PARAGRAPH, BUYER_ADDR_PHONE,
			BUYER_BANK_ACCOUNT,
			TOTAL_AMOUNT, OPERATOR, REMARKS, RE_BILL_NUMBER,
			PRINT_REMARK,
			DISTINCTION, STATE,
			STANDBY1, STANDBY2, STANDBY3
			from(
		</if>
		select
		<include refid="Base_Column_List" />
		<if
			test="page !=null and page != '' and pageSize != null and pageSize != ''">
			,rownum as rn
		</if>
		from
		BILL_MAIN_INFO
		<where>
			<if test="beginDate != null and beginDate != '' ">
				and TO_CHAR(BILL_DATE,'yyyy-mm-dd') &gt;=
				#{beginDate,jdbcType=VARCHAR}
			</if>
			<if test="endDate != null and endDate != '' ">
				and TO_CHAR(BILL_DATE,'yyyy-mm-dd') &lt;=
				#{endDate,jdbcType=VARCHAR}
			</if>
			<if test="billNumber != null and billNumber != '' ">
				and BILL_NUMBER = #{billNumber,jdbcType=VARCHAR}
			</if>
			<if test="buyerName != null and buyerName != '' ">
				and BUYER_NAME = #{buyerName,jdbcType=VARCHAR}
			</if>
			<if
				test="buyerDutyParagraph != null and buyerDutyParagraph != '' ">
				and BUYER_DUTY_PARAGRAPH =
				#{buyerDutyParagraph,jdbcType=VARCHAR}
			</if>
		</where>

		<if
			test="page !=null and page != '' and pageSize != null and pageSize != ''">
			)
		</if>
		<where>
			<if
				test="page !=null and page != '' and pageSize != null and pageSize != ''">
				rn &lt;= (select ((#{page}-1)*#{pageSize}+#{pageSize}) from
				dual)
				and
				rn &gt;= (select ((#{page}-1)*#{pageSize}+1) from dual)
			</if>
		</where>
	</select>

	<!-- 根据状态查询 -->
	<select id="selectByState" parameterType="String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		BILL_MAIN_INFO
		where state = #{state,jdbcType=VARCHAR}
		and
		RE_BILL_NUMBER is not null
	</select>




	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		BILL_MAIN_INFO
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.soa.restservice.entity.BillMainInfo">
		insert into BILL_MAIN_INFO (ID, BILL_NUMBER, BILL_DATE,
		BUYER_NAME, BUYER_DUTY_PARAGRAPH, BUYER_ADDR_PHONE,
		BUYER_BANK_ACCOUNT, TOTAL_AMOUNT, OPERATOR,
		REMARKS, RE_BILL_NUMBER,
		PRINT_REMARK,
		DISTINCTION, STATE, STANDBY1,
		STANDBY2, STANDBY3)
		values
		(#{id,jdbcType=VARCHAR}, #{billNumber,jdbcType=VARCHAR},
		#{billDate,jdbcType=TIMESTAMP},
		#{buyerName,jdbcType=VARCHAR},
		#{buyerDutyParagraph,jdbcType=VARCHAR},
		#{buyerAddrPhone,jdbcType=VARCHAR},
		#{buyerBankAccount,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL},
		#{operator,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR},
		#{reBillNumber,jdbcType=VARCHAR}, #{printRemark,jdbcType=VARCHAR},
		#{distinction,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
		#{standby1,jdbcType=VARCHAR},
		#{standby2,jdbcType=VARCHAR},
		#{standby3,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.soa.restservice.entity.BillMainInfo">
		insert into BILL_MAIN_INFO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="billNumber != null">
				BILL_NUMBER,
			</if>
			<if test="billDate != null">
				BILL_DATE,
			</if>
			<if test="buyerName != null">
				BUYER_NAME,
			</if>
			<if test="buyerDutyParagraph != null">
				BUYER_DUTY_PARAGRAPH,
			</if>
			<if test="buyerAddrPhone != null">
				BUYER_ADDR_PHONE,
			</if>
			<if test="buyerBankAccount != null">
				BUYER_BANK_ACCOUNT,
			</if>
			<if test="totalAmount != null">
				TOTAL_AMOUNT,
			</if>
			<if test="operator != null">
				OPERATOR,
			</if>
			<if test="remarks != null">
				REMARKS,
			</if>
			<if test="reBillNumber != null">
				RE_BILL_NUMBER,
			</if>
			<if test="printRemark != null">
				PRINT_REMARK,
			</if>
			<if test="distinction != null">
				DISTINCTION,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="standby1 != null">
				STANDBY1,
			</if>
			<if test="standby2 != null">
				STANDBY2,
			</if>
			<if test="standby3 != null">
				STANDBY3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="billNumber != null">
				#{billNumber,jdbcType=VARCHAR},
			</if>
			<if test="billDate != null">
				<if test="billDate.length() == 10">
					to_date(#{billDate,jdbcType=DATE},'yyyy-mm-dd'),
				</if>
				<if test="billDate.length() == 19">
					to_date(#{billDate,jdbcType=DATE},'yyyy-mm-dd
					HH24:MI:ss'),
				</if>
			</if>
			<if test="buyerName != null">
				#{buyerName,jdbcType=VARCHAR},
			</if>
			<if test="buyerDutyParagraph != null">
				#{buyerDutyParagraph,jdbcType=VARCHAR},
			</if>
			<if test="buyerAddrPhone != null">
				#{buyerAddrPhone,jdbcType=VARCHAR},
			</if>
			<if test="buyerBankAccount != null">
				#{buyerBankAccount,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				#{totalAmount,jdbcType=DECIMAL},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="reBillNumber != null">
				#{reBillNumber,jdbcType=VARCHAR},
			</if>
			<if test="printRemark != null">
				#{printRemark,jdbcType=VARCHAR},
			</if>
			<if test="distinction != null">
				#{distinction,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				#{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				#{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				#{standby3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.soa.restservice.entity.BillMainInfo">
		update BILL_MAIN_INFO
		<set>
			<if test="billNumber != null">
				BILL_NUMBER = #{billNumber,jdbcType=VARCHAR},
			</if>
			<if test="billDate != null">
				BILL_DATE = #{billDate,jdbcType=TIMESTAMP},
			</if>
			<if test="buyerName != null">
				BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
			</if>
			<if test="buyerDutyParagraph != null">
				BUYER_DUTY_PARAGRAPH =
				#{buyerDutyParagraph,jdbcType=VARCHAR},
			</if>
			<if test="buyerAddrPhone != null">
				BUYER_ADDR_PHONE = #{buyerAddrPhone,jdbcType=VARCHAR},
			</if>
			<if test="buyerBankAccount != null">
				BUYER_BANK_ACCOUNT =
				#{buyerBankAccount,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
			</if>
			<if test="operator != null">
				OPERATOR = #{operator,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="reBillNumber != null">
				RE_BILL_NUMBER = #{reBillNumber,jdbcType=VARCHAR},
			</if>
			<if test="printRemark != null">
				PRINT_REMARK = #{printRemark,jdbcType=VARCHAR},
			</if>
			<if test="distinction != null">
				DISTINCTION = #{distinction,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=VARCHAR},
			</if>
			<if test="standby1 != null">
				STANDBY1 = #{standby1,jdbcType=VARCHAR},
			</if>
			<if test="standby2 != null">
				STANDBY2 = #{standby2,jdbcType=VARCHAR},
			</if>
			<if test="standby3 != null">
				STANDBY3 = #{standby3,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.soa.restservice.entity.BillMainInfo">
		update BILL_MAIN_INFO
		set BILL_NUMBER =
		#{billNumber,jdbcType=VARCHAR},
		BILL_DATE =
		#{billDate,jdbcType=TIMESTAMP},
		BUYER_NAME =
		#{buyerName,jdbcType=VARCHAR},
		BUYER_DUTY_PARAGRAPH =
		#{buyerDutyParagraph,jdbcType=VARCHAR},
		BUYER_ADDR_PHONE =
		#{buyerAddrPhone,jdbcType=VARCHAR},
		BUYER_BANK_ACCOUNT =
		#{buyerBankAccount,jdbcType=VARCHAR},
		TOTAL_AMOUNT =
		#{totalAmount,jdbcType=DECIMAL},
		OPERATOR =
		#{operator,jdbcType=VARCHAR},
		REMARKS = #{remarks,jdbcType=VARCHAR},
		RE_BILL_NUMBER = #{reBillNumber,jdbcType=VARCHAR},
		PRINT_REMARK =
		#{printRemark,jdbcType=VARCHAR},
		DISTINCTION =
		#{distinction,jdbcType=VARCHAR},
		STATE = #{state,jdbcType=VARCHAR},
		STANDBY1 = #{standby1,jdbcType=VARCHAR},
		STANDBY2 =
		#{standby2,jdbcType=VARCHAR},
		STANDBY3 = #{standby3,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 根据单号修改发送状态 -->
	<update id="updateStateByBillNumber"
		parameterType="com.soa.restservice.entity.BillMainInfo">
		update BILL_MAIN_INFO
		set STATE =
		#{state,jdbcType=VARCHAR}
		where BILL_NUMBER =
		#{billNumber,jdbcType=VARCHAR}
	</update>

</mapper>